<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            /* background: black; */
            background-image:url("https://wallpapercave.com/wp/wp12228970.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        h1{
            color:lightsteelblue;
            /* box-shadow: 1px 1px 10px 2px teal; */
            width: 100%;
        }
        #player{
            box-shadow: 2px 2px 15px 5px white;
            /* background:teal; */
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">SILLYPLAYER</h1>
    <div style="background:gray; display:flex; align-items: center; justify-content: center; background: transparent;">
    <iframe id="player"
    style="border-radius:12px"
    allowtransparency="true" 
    src="https://open.spotify.com/embed/playlist/0r2dKv6NyNCuWVtrn50C2b?utm_source=generator&theme=0"
    width="720px"
    height="640px"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
    >
</iframe>
</div>
    
</body>
</html>